$color-primary: rgb(8, 8, 8);
$color-primary-light: rgb(255,255,255);
$color-primary-dark: rgb(240,240,240);

$color-secondary: rgb(0, 153, 255);

$color-tertiary: rgb(235, 21, 21);

$color-grey-vlight: #e7e7e7;
$color-grey-light-1: #ececec;
$color-grey-light-2: rgb(163, 163, 163);
$color-grey-light-3: rgb(130,130,130);

$color-grey-hover: #c3c3c3;

$color-grey-dark-1: rgb(73, 73, 73);
$color-grey-dark-2: rgb(114, 114, 114);

// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-shadow: inherit;
}

html{
   box-sizing: border-box;
   font-size: 62.5%; // 10px;
}

body{
   font-family: $font-primary;
   color: $color-primary-light;
   font-weight: 300;
   line-height: 1.6;
   font-size: 1.6rem;
   background-image: url(../images/planets/planets.jpg);
}

.container{
   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 20rem repeat(5, minmax(10rem, 1fr)) repeat(2, 15rem);
}