.contact{
   padding: 5rem 0;
   background-image: linear-gradient(105deg, rgba(7, 7, 7, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, transparent 50%), url('../images/main.jpg');
   height: 100vh;
   
   &__heading{
      margin-bottom: 5rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: bold;
   }

   &__subtitle{
      font-size: 35px;
      margin: 3rem 0;
      &_img{
         width: 35px;
      }
   }

   &__text{
      padding: 2rem;
      font-size: 20px;
      letter-spacing: 1.2px;
   }

   &__information{
      
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin: 10rem 35rem;
      

      &-wrapper{
         height: 800px;
         width: 400px;
         opacity: 1;
         background-color: red;
      }

      &_form{
         height: 400px;
         width: 500px;
         display:inline-block;


         &_input{
            width: 400px;
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid #111;
            outline: 0;
            transition: all .2s ease-out;
            font-size: 20px;
            color:#111;
            letter-spacing: 1px;
            background: #fff;
            

            &:focus{
               border: 2px solid #fff;
               background-color: transparent;
               color: #fff
            }
            &:focus::placeholder{
               color: #fff;
            }
         }
         &_input:nth-child(1){
            margin-bottom: 2rem;
         }
         &_input:nth-child(2){
            margin-bottom: 4rem;
         }
         &_textarea{
            width: 400px;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 2rem;
            transition: all .2s ease-out;
            outline: none;
            font-size: 20px;
            color:#111;
            border: 2px solid #111;
            letter-spacing: 0.6px;
            background: #fff;

            &:focus{
               border: 2px solid #fff;
               background: transparent;
               color: #fff

            }
            &:focus::placeholder{
               color: #fff;
            }
         }

         &_btn{
            width: 440px;
            margin: 2rem;
            background-color: #fff;
            border: 2px solid #fff;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 20px;
            transition: all .3s;
            outline: none;
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: bold;
            text-transform: uppercase;
            font-weight: 100;

            &:hover{
               transform: translateY(-0.3rem);
               box-shadow: 0 1rem 2rem rgba(black,.3);
               background-color: transparent;
               color: #fff;
            }
      }
   }



      &_contact{
         font-size: 20px;
         letter-spacing: 1px;
         margin-bottom: 10rem;

         & > div svg{
            fill: rgba(255, 255, 255, 1);
            height: 5rem;
            width: 5rem;
         }
         & div{
            display: flex;
            justify-content: space-between;
            align-self: center;
            padding-top: 3rem;
         }

         & img{
            width: 50px;
         }
         & p{
            margin-left: 10rem;
            text-align: center;
            color: rgba(7, 7, 7, 1);
            font-weight: bold;
            font-size: 2rem;
         }
      }
   }
}

::placeholder{
   color: #111;
}

