.page{
   background-size: cover;
   background-repeat: no-repeat;
}


.v-header{
   margin: auto;
   text-align: center;
}

.navigation{
   grid-row: 1/1;
   grid-column: 1/3; 
   display:flex;

   &__content{
      background-color: black;
      width: 100%;
      overflow: hidden;
      background-image: linear-gradient(105deg, rgba(0, 0, 0, 0.5) 0%, rgba(54, 54, 54, 0.5) 100%, transparent 50%), url(../images/nav-background.jpg);
      display:flex;
      flex-direction: column;
      justify-content: space-between;

      &--image{
         height: 15rem;
         width: 20rem;
      }

      & img{
         position: absolute;
         height: 15rem;
         width: 20rem;
      }

      &_top{
         height: 16rem;
         width: 100vw;

         
         &--motto h1{
            font-size: 5rem;
            letter-spacing: 3px;
            text-align: center;
            font-weight: 100;
            margin-bottom: 4rem;
         }
      }
         &_socials{
            display:flex;
            align-self: flex-end;
  
              & > div{
                 cursor: pointer;
                 margin-right: 1rem;
              }
  
              & > div span{
                 font-size: 1.3rem;
                 color: rgba(219, 219, 219, 0.7);
              }
              & > div svg{
                 fill: rgba(219, 219, 219, 0.7);
                 height: 3rem;
                 width: 3rem;
                 padding: 0 0.5rem 0 0.5rem;
                 transition: .1s;
              }
              & > div:hover svg{
                 fill: rgb(235, 235, 235);
              }
              & > div:hover span{
                 color: rgb(235, 235, 235);
              }
      }

      &_bottom{
         height: 4rem;
         background-color: #222;
         display:flex;
         justify-content: space-around;
         align-items: center;
         padding: 0 15rem;
         
         &--link{
            transition: .15s;
            background-color: #222;
            text-transform: uppercase;
            padding: 0.7rem 0rem;
         }
         &--link:not(:last-child){
            border-right: 3px solid black;
         }
         
         &--link a{
            text-decoration: none;
            color: white;
            letter-spacing: -0.6px;
            font-size: 1.4rem;
            padding: 1.4rem 7rem;
            margin: 0 auto;
            width: 100%;
         }
   
         &--link:hover,
         &--link:visited{
            transform: translateY(-2px);
            cursor: pointer;
         }
         &--link a.active{
            width: 100%;
            background-color: #333;
            color: rgba(255, 217, 48, 0.9);
         }
      }

      
   }
}

.content{
   grid-row: 2/7;
   grid-column: 1/-1;
}


.fade-enter {
   opacity: 0;
   transform: scale(1.5);
   transform: translateY(5rem);;
 }
 
 .fade-enter-active {
   opacity: 1;
   transform: scale(1);
   transition: opacity 400ms, transform 400ms;
 }
 
 .fade-exit {
   opacity: 1;
   transform: scale(1);
 }
 
 .fade-exit-active {
   opacity: 0;
   transform: scale(0.9);
   transition: opacity 400ms, transform 400ms;
 }

.footer{
   grid-row: 7/-1;
   grid-column: 1/-1;
}


//Key frames

@keyframes moveInDown{
   0%{
       opacity: 0%;
       transform: translateY(-10rem);
   }
   100%{
       opacity:1;
       transform: translateY(0px);
   }
}

@keyframes moveInRight{
   0%{
       opacity: 0%;
       transform: translateX(-20rem);
   }
   100%{
       opacity:1;
       transform: translateY(0px);
   }
}



